html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/la-jolla-shores-spaulding-proposal38.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: white;

  transition: 2s background-image ease;
}

h1 {
  margin: 0px;
  text-align: center;
  text-transform: uppercase;

  line-height: 68px;
  font-size: 50px;
  font-weight: 300;

  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 70px);

  color: rgb(31, 47, 79);
  text-shadow: 0px 0px 1px white;
}

#mc_embed_signup {
  position: absolute;
  top: calc(50% + 34px);
  left: calc(50% - 70px);

  color: rgb(31, 47, 79);
  line-height: 68px;
  font-size: 24px;
}

.mc-field-group {
  display: table;
  width: 100%;
}

#mc_embed_signup input {
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
  padding: 12px 18px;
}

#mc_embed_signup input[type="email"] {
  border: 1px solid rgb(31, 47, 79);
  border-right: none;
  width: 346px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#mc_embed_signup input[type="submit"] {
  background-color: rgb(31, 47, 79);
  border: none;
  color: white;
  height: 48px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  width: 120px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#mc_embed_signup input[type="submit"]:hover {
  cursor: pointer;
}
