html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

body {
  background-image: url('../images/chalk-background-repeatable.jpg');
  font-family: sans-serif;
  color: white;

  transition: 2s background-image ease;
}
